:root {
  /*Colors*/
  --primary-color: #013220;
  --secondary-color: #daf1de;
  --white-color: #fff;
  --black-color: #000;

  /*Font family*/
  --font-family: "Inter", sans-serif;

  /*Sizes*/
  --base-size: 0.5rem;
  --sm-size: 1rem;
  --md-size: 1.2rem;
  --lg-size: 1.5rem;
  --xlg-size: 1.8rem;
  --xxlg-size: 2rem;
}

/* resets*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 1.2;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  color: var(--black-color);
  font-size: var(--md-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

/* Generic styles */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: capitalize;
  color: var(--black-color);
  font-size: var(--md-size);
  padding: var(--md-size) var(--xlg-size);
}
/* Header */

#wrapper {
  width: 100%;
  height: 100%;
  /* position: relative; */
}

.header {
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-color);
  overflow: hidden;
}

.navbar {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: 20;
  padding: var(--lg-size) calc(var(--lg-size) * 3);
}

.navbar-color-2 {
  background-color: black;
}

.navbar-icon {
  display: flex;
  align-items: center;
}

.navbar-icon a {
  display: inline-block;
  font-size: 2rem;
  color: #daf1de;
  margin: 0 10px;
  transition: all 0.4s;
}

.navbar__col-1 #innerLuxeLogo {
  position: flex;
  font-size: 3rem;
  color: #daf1de;
  cursor: pointer;
}

.navbar-icon a:hover {
  transform: translateY(-5px) scale(1.1);
}

.navbar .navbar__col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar__list > .navbar__list-items {
  display: inline-block;
  margin: 0 var(--lg-size);
}

.navbar .navbar__list > .navbar__list-items a {
  text-transform: capitalize;
  color: #daf1de;
}

.navbar .navbar__btn {
  margin-left: 2rem;
}

.navbar .navbar__btn .btn--signUp {
  border: 1px solid var(--black-color);
  padding: var(--md-size) var(--lg-size);
  margin-right: 1rem;
}

.navbar .navbar__btn .btn--learnMore {
  color: var(--secondary-color);
  background-color: var(--black-color);
  padding: var(--md-size) var(--lg-size);
}
/* hero section */

.hero {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero .hero__overlay {
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(1, 50, 32, 0.7),
      rgba(1, 50, 32, 0.7)
    ),
    url("/img/loft-authentic-dining-room-interior-design-with-picture-frame_53876-111114.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .hero__content {
  position: absolute;
  height: 100%;
  top: 10%;
  left: 0;
  right: 0;
}

.hero .hero__content .hero__heading-main {
  font-size: calc(var(--xxlg-size) * 2.5);
  font-weight: 900;
  text-transform: capitalize;
  width: 100%;
  max-width: 70rem;
  color: #daf1de;
}

.hero__content .hero__heading-main > .hero__heading-primary {
  margin-left: 3rem;
  font-size: calc(var(--xxlg-size) * 2.4);
  color: #daf1de;
}

.hero__content .hero__heading-main > .hero__heading-secondary {
  margin-left: 16rem;
  font-size: calc(var(--xxlg-size) * 2.4);
  color: #daf1de;
}

.hero__content .hero__content-row-1 {
  width: max-content;
  transform: translate(-20rem, 18rem);
  opacity: 0;
  margin: -5%;
  animation: slideRight 800ms ease-in-out both;
}

.hero__content .hero__content-row-2 {
  width: max-content;
  transform: translate(40rem, 40rem);
  opacity: 0;
  animation: moveUp 800ms linear both;
}

.hero .hero__content .hero__paragraph {
  margin: 3rem 0;
  font-size: var(--lg-size);
  color: #daf1de;
  text-align: center;
}

.hero__content .hero__content-row-2 > .hero__btn .btn.btn--shop {
  background-color: var(--black-color);
  color: var(--secondary-color);
  margin-left: 23rem;
  border-radius: 50px;
  box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.8);
}

.hero__content .hero__content-row-2 > .hero__btn .btn.btn--learn-more {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  margin: 0rem 3rem;
}

.hero__content .hero__content-row-2 > .hero__btn .btn.btn--shop:hover {
  background-color: transparent;
}

.hero__content .hero__content-row-2 > .hero__btn .btn.btn--shop:active {
  box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, 0.6);
}

.hero__content .hero__content-row-2 > .hero__btn .btn.btn--learn-more {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  margin: 0rem 3rem;
  border-radius: 50px;
  transition: background 300ms linear, transform 300ms linear;
}

.hero__content .hero__content-row-2 > .hero__btn .btn.btn--learn-more:hover {
  background-color: var(--black-color);
  border-color: var(--black-color);
}

.hero__content .hero__content-row-2 > .hero__btn .btn.btn--learn-more:active {
  transform: scale(0.9);
}

/* Animation */
@keyframes moveUp {
  100% {
    transform: translate(45rem, 30rem);
    opacity: 1;
  }
}

@keyframes slideRight {
  100% {
    transform: translate(55rem, 25rem);
    opacity: 1;
  }
}

/* reuseable Layouts */
.col-2-row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sm-spacing {
  padding: 5rem 4rem;
}

/* section-1 */

.section {
  width: 100%;
  height: 100%;
}

.section-1 .section-1__col-1 {
  text-transform: capitalize;
  font-size: calc(var(--xxlg-size) * 1.5);
  font-weight: 800;
  width: 100%;
  max-width: 50rem;
}

.section-1 .section-1__col-2 .section-1__col-2__paragraph {
  margin-bottom: 3rem;
  font-size: var(--lg-size);

  font-weight: 800;
}

.section-1__col-2 .col-2-row-1 .section-1__rating,
.section-1__experience {
  text-transform: capitalize;
  font-size: var(--lg-size);
  font-weight: 400;
}

.section-1__col-2 .col-2-row-1 .section-1__rating span:is(:first-child),
.section-1__experience span:is(:first-child) {
  font-weight: 700;
  display: inline-block;
  margin-bottom: var(--lg-size);
  font-size: 4rem;
}

/* Form Box */

.container {
  position: absolute;
  width: 100%;

  top: -10rem;
}

.form-box {
  width: 100%;
  max-width: 45rem;
  /* height: 30rem; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #daf1de;
  padding: 5rem 6rem 7rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  /* overflow: hidden; */
}

.form-box h2 {
  font-size: 3rem;
  margin-bottom: 5rem;
  color: #013220;
  position: relative;
}

.form-box h2::after {
  content: "";
  width: 3rem;
  height: 0.4rem;
  border-radius: 0.3rem;
  background: #013220;
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  transform: translateX(-50%);
}

.close-form {
  display: inline-block;
  position: absolute;
  top: 4rem;
  font-size: var(--xlg-size);
  right: 5rem;
  cursor: pointer;
  color: #777;
}

.input-field {
  background: #fff;
  margin: 1.5rem 0;
  border-radius: 0.3rem;
  padding: 0 0 0 2rem;
  display: flex;
  align-items: center;
  border-radius: 5rem;
  max-height: 6.5rem;
  transition: max-height 0.5s;
  overflow: hidden;
}

input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 1.8rem 1.5rem;
}

.input-field i {
  margin-left: 1.5re;
  color: #013220;
}

form p {
  text-align: left;
  font-size: 1.3rem;
}

form p a {
  text-decoration: none;
  color: #013220;
}

.btn-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.btn-field button {
  flex-basis: 48%;
  /* background-color: var(--white-color);
  color: black; */
  height: 4rem;
  border-radius: 2rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: var(--black-color) 1s;
}

.active {
  background: var(--primary-color);
  color: var(--white-color);
}

.normal {
  background-color: var(--white-color);
  color: var(--black-color);
}

.hidden {
  display: none;
}
